#SRLLightbox {
.SRLContainer.css-1b678za {
    background: #fff;
}
.SRLAutoplayButton{
    display: none;
}
.SRLThumbnailsButton {
    display: none;
}
.SRLDownloadButton {
    display: none;
}
.SRLExpandButton {
    display: none;
}
.SRLCloseButton {
    background: transparent;
}
path.SRLCloseButton {
    fill: #000!important;
}
path.SRLPrevButton {
    fill: #000!important;
}
.SRLPrevButton {
    background: transparent;
}
.SRLNextButton {
    background: transparent;
}
#\32 {
    display:none!important;
}
#\33 {
    display:none!important;
}
#\34 {
    display:none!important;
}
}