.slick-prev:before{
    color: black !important;
}
.slick-next:before {
    color: black !important;
}
.slick-next {
    right: 0px;
}
.slick-prev {
    left: 0px;
}
.slick-dots {
    bottom: 0px !important;
}